@page "/addUser"
@using GhazaSystem.UI.Services
@rendermode InteractiveServer


<h3>AddUser</h3>

<MudGrid Justify="@Justify.Center">
    <MudItem xs="6" Justify="@Justify.Center" >
        <MudPaper Class="pa-4">

            <MudForm Spacing=0>
                <MudTextField T="string" @bind-Value="model.First_Name" Label="نام" />
                <MudTextField T="string" @bind-Value="model.Last_Name" Label="نام خانوادگی" />
                <MudTextField T="long" @bind-Value="model.National_Code" Label="کد ملی" HelperText="کد ملی را با حروف انگلیسی وارد کنید" InputType="InputType.Number" />


            </MudForm>
            <div class="d-flex align-center">
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@sentUser">Add</MudButton>
                </MudCardActions>
                
            </div>

            @if ( ShowSussec)
            {
                <MudAlert Severity="Severity.Success"  ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true" CloseIconClicked="( ()=>ShowSussec=false )">کاربر با موفقیت اضافه شد</MudAlert>
            }

             
            </MudPaper>
            </MudItem>
            </MudGrid>






