@inherits LayoutComponentBase



<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />



<MudLayout>
    <MudAppBar Elevation="1" >
        <MudIconButton  Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" @onclick="DrawerToggle" Clipped="true" />
        My Application + @_drawerOpen
        <button class="btn btn-primary" @onclick="DrawerToggle">Click me</button>
    </MudAppBar>
    <MudDrawer  Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" Breakpoint="Breakpoint.None">

        <NavMenu  />
    </MudDrawer>
    <MudMainContent>
        @Body

        <button class="btn btn-primary" @onclick="DrawerToggle">Click me</button>
    </MudMainContent>
</MudLayout>
@code {
    private bool _drawerOpen = false;
    private void DrawerToggle()
    {

        _drawerOpen = !_drawerOpen;
        Console.WriteLine(_drawerOpen);
        StateHasChanged();
    }
}